@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
  
  /* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--background-end-rgb) var(--foreground-rgb);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--foreground-rgb);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--background-end-rgb);
  border-radius: 14px;
  border: 3px solid var(--foreground-rgb);
}
